h1{
	font-weight:normal;
	font-family: avenir, helvetica, sans serif;
	color: #d41920;
}
p{	
	font-weight:normal;
	font-family: avenir, helvetica, sans serif;
}

h2{
	font-weight:normal;
	font-family: avenir, helvetica, sans serif;
	color: #d41920;
	
}